<?xml version="1.0" encoding="utf-8"?>
<!--

 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.

-->
<!-- 
		.NET application configuration file     
		This file must have the exact same name as your application with .config appended to it. 
		
		For example if your application is ConsoleApp.exe then the config file must be ConsoleApp.exe.config. 
		It must also be in the same directory as the application. 
	-->
<configuration>
  <!-- Register a section handler for the log4net section -->
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      
      <section name="autotrade.Properties.InstrumentType" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="autotrade.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- To enable internal log4net logging specify the following appSettings key -->
    <!-- <add key="log4net.Internal.Debug" value="true"/> -->
  </appSettings>
  <!-- This section contains the log4net configuration settings -->
  <log4net>
    <!-- Define some output appenders -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] &lt;%property{auth}&gt; - %message%newline" />
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    
    <autotrade.Properties.InstrumentType>
      <setting name="ag" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>2:30</string>
            <string>11:30</string>
            <string>15:00</string>
          </ArrayOfString>
        </value>
      </setting>
    </autotrade.Properties.InstrumentType>
    <autotrade.Properties.Settings>
      <setting name="InvestorID" serializeAs="String">
        <value>50001693</value>
      </setting>
      <setting name="Passwd" serializeAs="String">
        <value>05221058</value>
      </setting>
      <setting name="大陆期货一电信线路Trade1" serializeAs="String">
        <value>61.172.206.73:41205</value>
      </setting>
      <setting name="大陆期货一电信线路Trade2" serializeAs="String">
        <value>61.172.206.78:41205</value>
      </setting>
      <setting name="SelectedServerLine" serializeAs="String">
        <value>大陆期货一联通线路</value>
      </setting>
      <setting name="大陆期货一电信线路BrokerID" serializeAs="String">
        <value>8888</value>
      </setting>
      <setting name="大陆期货一电信线路Market1" serializeAs="String">
        <value>61.172.206.73:32111</value>
      </setting>
      <setting name="大陆期货一电信线路Market2" serializeAs="String">
        <value>61.172.206.78:32111</value>
      </setting>
      <setting name="Selected大陆期货一电信线路Trade" serializeAs="String">
        <value>61.172.206.73:41205</value>
      </setting>
      <setting name="Selected大陆期货一电信线路Market" serializeAs="String">
        <value>61.172.206.73:32111</value>
      </setting>
      <setting name="大陆期货一联通线路Trade1" serializeAs="String">
        <value>210.51.25.90:41205</value>
      </setting>
      <setting name="大陆期货一联通线路Trade2" serializeAs="String">
        <value>210.51.25.86:41205</value>
      </setting>
      <setting name="大陆期货一联通线路Market1" serializeAs="String">
        <value>210.51.25.90:32111</value>
      </setting>
      <setting name="大陆期货一联通线路Market2" serializeAs="String">
        <value>210.51.25.86:32111</value>
      </setting>
      <setting name="Selected大陆期货一联通线路Trade" serializeAs="String">
        <value>210.51.25.90:41205</value>
      </setting>
      <setting name="Selected大陆期货一联通线路Market" serializeAs="String">
        <value>210.51.25.90:32111</value>
      </setting>
      <setting name="大陆期货一联通线路BrokerID" serializeAs="String">
        <value>8888</value>
      </setting>
      <setting name="安信期货一模拟线路BrokerID" serializeAs="String">
        <value>1061</value>
      </setting>
      <setting name="安信期货一模拟线路Trade1" serializeAs="String">
        <value>219.143.242.155:21205</value>
      </setting>
      <setting name="安信期货一模拟线路Market1" serializeAs="String">
        <value>219.143.242.155:21213</value>
      </setting>
      <setting name="Selected安信期货一模拟线路Trade" serializeAs="String">
        <value>219.143.242.155:21205</value>
      </setting>
      <setting name="Selected安信期货一模拟线路Market" serializeAs="String">
        <value>219.143.242.155:21213</value>
      </setting>
      <setting name="ServerLines" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>dlqh-telecom</string>
            <string>大陆期货一电信线路</string>
            <string>dlqh-unicom</string>
            <string>大陆期货一联通线路</string>
            <string>dlqh-analog</string>
            <string>大陆期货一模拟线路</string>
            <string>custom</string>
            <string>自定义</string>
            <string>anxinqh-analog</string>
            <string>安信期货一模拟线路</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Direction" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>买</string>
            <string>卖</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="INID" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>IF1407</string>
            <string>ZN1409</string>
            <string>ZN1410</string>
            <string>RU1409</string>
            <string>RB1501</string>
            <string>CU1409</string>
            <string>AU1412</string>
            <string>AL1409</string>
            <string>AG1412</string>
            <string>Y1501</string>
            <string>PP1409</string>
            <string>P1501</string>
            <string>M1501</string>
            <string>L1409</string>
            <string>JM1409</string>
            <string>JD1409</string>
            <string>J1409</string>
            <string>I1409</string>
            <string>FB1409</string>
            <string>C1501</string>
            <string>BB1409</string>
            <string>A1501</string>
            <string>TC1409</string>
            <string>TA1409</string>
            <string>SR1501</string>
            <string>RM1409</string>
            <string>OI1501</string>
            <string>ME1409</string>
            <string>FG1501</string>
            <string>CF1501</string>
          </ArrayOfString>
        </value>
      </setting>
    </autotrade.Properties.Settings>
  </userSettings>
<connectionStrings>
    <!-- See http://www.mongodb.org/display/DOCS/CSharp+Driver+Tutorial#CSharpDriverTutorial-Connectionstrings for more info -->
  <!--阿里云-->
  
    <add name="MongoServerSettings" connectionString="mongodb://115.28.160.121/future" />
    <add name="MongoServerFutureSettings" connectionString="mongodb://115.28.160.121/futuredata" />
  
  
  <!-- 赵总-->
<!--
  <add name="MongoServerSettings" connectionString="mongodb://115.28.225.164/future" />
  <add name="MongoServerFutureSettings" connectionString="mongodb://115.28.225.164/futuredata" />
  -->
  
</connectionStrings></configuration>
